.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in .3s ease-in-out forwards;
          animation: fade-in .3s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out .3s ease-in-out forwards;
          animation: fade-out .3s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  height: 200vh;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #515967;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 73.125rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fb-f {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 39.9375em) {
  .flex-mob {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h3 {
  font-weight: 300;
  line-height: 1.15;
  color: #515967;
  margin-top: 0px;
}

h1 {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
  padding: 5rem .5rem;
  text-align: center;
}

@media (min-width: 64em) {
  h1 {
    text-align: left;
    font-size: 2.625rem;
    padding: 20% 1rem 2.25rem 0;
  }
}

h3 {
  font-size: 2.625rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
}

p {
  line-height: 2.125rem;
  margin-bottom: 2.25rem;
  font-size: 1.125rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.button {
  display: block;
  margin: 1rem auto;
  max-width: 275px;
  padding: 1.4rem 4.375rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

@media (min-width: 64em) {
  .button {
    display: inline-block;
    margin: 0;
  }
}

.button:hover {
  opacity: .75;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.btn__primary {
  background-color: #c4686d;
  border: 1px solid #c4686d;
}

@media (min-width: 64em) {
  .btn__primary {
    margin-right: 1.75rem;
  }
}

.btn__secondary {
  background-color: transparent;
  color: #81b5b6;
  border: 1px solid #81b5b6;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header nav {
  position: relative;
  background-color: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__logo img {
  width: 17.5rem;
  height: auto;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #515967;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#515967), to(#81b5b6));
  background-image: linear-gradient(#515967, #81b5b6);
  z-index: 0;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ffffff;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 3;
}

.header__menu a {
  display: block;
  color: #515967;
  padding: .625rem;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  color: #515967;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -20px;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#81b5b6));
  background: linear-gradient(to right, #ffffff, #81b5b6);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.header__links a:hover {
  color: #81b5b6;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.header__links a:hover::before {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

#hero {
  position: relative;
  background: url("../img/hero-banner.jpg") center no-repeat;
  height: auto;
  min-height: 480px;
}

@media (min-width: 64em) {
  #hero {
    min-height: 720px;
  }
}

#hero .container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 64em) {
  #hero .container {
    text-align: left;
  }
}

#hero .fadecovers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 480px;
  overflow: hidden;
}

@media (min-width: 64em) {
  #hero .fadecovers {
    min-height: 720px;
  }
}

#hero .fadecovers .cover {
  width: 1600px;
  height: 720px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -800px;
}

.references {
  background-color: #ffffff;
  padding: 4.25rem 1rem 5.25rem 1rem;
}

.references__content {
  position: relative;
  margin: 0 auto;
  max-width: 1040px;
}

.references__content h2 {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #fafafa;
  z-index: 1;
}

@media (min-width: 64em) {
  .references__content h2 {
    font-size: 8.75rem;
    top: -20%;
  }
}

.references__content h3 {
  padding: 2.5rem 0 2.5rem 0;
  margin-bottom: 3.75rem;
  position: relative;
  z-index: 2;
}

.references__content p {
  text-align: justify;
}

.references__title {
  color: #123f69;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.references #references__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.references__point {
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  background-color: #515967;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
}

.references__point:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #c4686d;
}

.references .active {
  background-color: #c4686d;
}

.references__copy {
  margin: 2rem auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.luctus {
  background-image: url("../img/alexis-brown.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #81b5b6;
  padding-top: .5rem;
  position: relative;
}

@media (max-width: 39.9375em) {
  .luctus {
    background-position: center bottom;
    background-size: 100%;
    padding-top: 0;
  }
}

.luctus .square {
  background-color: #515967;
  width: 50%;
  min-height: 560px;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
}

@media (max-width: 39.9375em) {
  .luctus .square {
    width: 100%;
    min-height: 450px;
  }
}

.luctus__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 6.25rem 12.5rem 3.6rem 0;
  text-align: left;
  z-index: 2;
}

@media (max-width: 39.9375em) {
  .luctus__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
    padding: 1rem .5rem;
  }
}

.luctus__left h3 {
  color: #ffffff;
  font-weight: 300;
  padding: 0 0 3.75rem 0;
  margin: 0;
}

@media (max-width: 39.9375em) {
  .luctus__left h3 {
    padding: 0 0 1rem 0;
    text-align: center;
  }
}

.luctus__item {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 39.9375em) {
  .luctus__item {
    padding: 0 0 0 3rem;
  }
}

.luctus__item h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  color: #81b5b6;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

@media (max-width: 39.9375em) {
  .luctus__item h5 {
    margin: 1rem 0;
  }
}

.luctus__item a {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.luctus__item a::after {
  content: url("../icons/Long-Arrow-Right.png");
  position: absolute;
  top: 1px;
  right: -30px;
}

.luctus__item a:hover::after {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.luctus__desc {
  display: block;
}

.luctus__icon {
  width: 50px;
  height: 50px;
  background-image: url("../icons/ico.png");
}

.luctus__icon img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 23%;
  top: 17%;
  color: #515967;
}

.luctus__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 4rem 0 3.6rem 9rem;
}

@media (max-width: 39.9375em) {
  .luctus__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
    padding: 3rem;
  }
}

.luctus__right h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.3125rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}

.blog {
  padding: 4.5625rem 0 4.5625rem 0;
}

.blog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 39.9375em) {
  .blog__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 .5rem;
    margin: 0 auto;
    text-align: center;
  }
}

.blog__grid--item {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 39.9375em) {
  .blog__grid--item {
    margin-bottom: 1rem;
  }
}

.blog__grid--item::after {
  content: url("../icons/more.png");
  position: absolute;
  bottom: 25%;
  right: 7%;
}

@media (max-width: 39.9375em) {
  .blog__grid--item::after {
    bottom: 22%;
    right: 2%;
  }
}

.blog__grid--item:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: .9;
}

.blog__grid--item p {
  color: #515967;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75;
  min-height: 4.125rem;
  margin-bottom: 1rem;
}

.blog__grid--item .article--date {
  color: #aaaaaa;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
}

.blog__grid--item .article--date::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  height: 2px;
  width: 27px;
  background-color: #aaaaaa;
}

.subfooter {
  border-top: 3px solid #98b54f;
  padding: 3.75rem 0 3.125rem 0;
}

.subfooter__logo {
  width: 175px;
}

.subfooter__social a:nth-child(2) {
  margin-left: 1rem;
}

.subfooter__social a:hover {
  opacity: .7;
}

.subfooter__social img {
  width: 33px;
  height: 33px;
}

.footer {
  padding: 1.875rem 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(55%, #98b54f), color-stop(45%, #515967));
  background: linear-gradient(90deg, #98b54f 55%, #515967 45%);
}

@media (max-width: 39.9375em) {
  .footer {
    background: -webkit-gradient(linear, left top, right top, from(#98b54f), to(#515967));
    background: linear-gradient(90deg, #98b54f 0%, #515967 100%);
  }
}

.footer h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #515967;
}

@media (max-width: 39.9375em) {
  .footer h6 {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media (max-width: 39.9375em) {
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    row-gap: .5rem;
  }
}

.footer__contact a {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0 .5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer__contact a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: .8;
}

.footer__contact .phone::before {
  background-image: url("../icons/phone.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  vertical-align: middle;
  margin-right: .5rem;
}

.footer__contact .e-mail::before {
  background-image: url("../icons/message.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  vertical-align: middle;
  margin-right: .5rem;
}

.footer__contact .web::before {
  background-image: url("../icons/web.svg");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  vertical-align: middle;
  margin-right: .5rem;
}
/*# sourceMappingURL=style.css.map */