#hero {
	position: relative;
	background: url('img/hero-banner.jpg') center no-repeat;
	height: auto;
	min-height: 480px;

	@include breakpoint-up(large) {
		min-height: 720px;
	}

	.container {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		text-align: center;

		@include breakpoint-up(large) {
			text-align: left;
		}
	}

	.fadecovers {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 480px;
		overflow: hidden;

		@include breakpoint-up(large) {
			min-height: 720px;
		}
	
		.cover {
			width: 1600px;
			height: 720px;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -800px;
		}
	}
}