.subfooter {
  border-top: 3px solid $green;
  padding: 3.75rem 0 3.125rem 0;

  &__logo {
    width: 175px;
  }

  &__social {
    
    a:nth-child(2) {
      margin-left: 1rem;
    }
    a:hover {
      opacity: .7;
    }
    img {
      width: 33px;
      height: 33px;
    }
  }
}