// Colors
$lightGreen: #81b5b6;
$green: #98b54f;
$lightRed: #c4686d;
$darkBlue: #515967;
$white: #ffffff;

// Font Sizes
$font-sm: .875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.125rem; // 18px
$font-blog: 1.25rem; // 20px
$font-xl: 2.3125rem; // 37px
$font-xxl: 2.625rem; //42px
$font-xxxl: 8.75rem;